html {background:#050505; color:#FFFFFF; font: 14px monospace; line-height:1.2em; position:relative; width:100%; height:100%; margin:0; padding:0;}
body {margin:0; padding:0; background:#7777ED url(/images/background.jpg) no-repeat 50% 100% fixed; position:relative; min-height:100%;}

div.body {margin:0 auto; min-width:300px; max-width:1000px; height:auto; overflow:hidden;}

div.header {padding:40px;}
div.header h1 {display:block; margin:0 auto; padding:0; line-height:60px; font-size:60px; font-weight:bold; text-align:center;}
div.header h1 a {display:block; color:#FFFFFF; text-decoration:none;}
div.header h2 {display:block; color:#FFFFFF; font-size:16px; margin:0 100px; text-align:right;}

div.menu {display:block; margin:0 auto 20px auto; padding:0; height:61px;}
div.menu nav {display:block; width:330px; margin:0 auto; padding:0; height:61px;}
div.menu nav ul {display:block; float:left; margin:0; padding:0; height:61px; list-style-type:none;}
div.menu nav ul li {display:block; float:left; margin:0; padding:0; text-align:center;}
div.menu nav ul li a {display:block; float:left; margin:13px 0 0 0; padding:0 2px; height:48px; min-width:61px; line-height:48px; background:url(/images/item.png) no-repeat 50% 50%; color:#FFFFFF; text-decoration:none; font-size:12px; font-weight:bold;}
div.menu nav ul li a:hover, div.menu nav ul li a:active, div.menu nav ul li a.current {line-height:70px; margin-top:0px; height:61px; min-width:61px; color:#FFFFFF; background:url(/images/item_selected.png) no-repeat 50% 50%;}

div.wrapper {min-height:400px; background:#1E1E32; background:rgba(30,30,50,0.8); border:2px solid #3C3C50; overflow:hidden; height:auto;}
div.wrapper div.full {clear:both; margin:2%;}
div.wrapper div.half {width:45%; margin:2%; float:left;}
div.wrapper div.third {width:29%; margin:2%; float:left;}
div.wrapper div.server {min-height:100px;}

div.wrapper h2 {display:block; margin:0 0 20px 0; padding:0; font-size:24px; font-weight:bold;}
div.wrapper h3 {display:block; margin:0 0 10px 0; padding:0; font-size:20px; font-weight:bold; text-align:center;}
div.wrapper h4 {display:block; margin:0 0 10px 0; padding:0; font-size:15px; font-weight:bold; text-align:center;}
div.wrapper ul {display:block; margin:0 0 0 0; padding:0 0 0 20px; list-style-type:square;}
div.wrapper ul li {margin:0 0 5px 0; padding:0; font-size:14px;}
div.wrapper p {text-align:center; margin:0 0 10px 0; padding:0;}
div.wrapper div.full p {text-align:left;}
div.wrapper div.full.centred p {text-align:center;}
div.wrapper p a, div.wrapper ul li a {color:#F0F000; text-decoration:none;}
div.wrapper p:hover a, div.wrapper ul:hover li a {font-style:italic;}
div.wrapper p a:hover, div.wrapper ul li a:hover {text-decoration:underline;}

iframe.serverlist {width:100%; margin:0; padding:0; border:0px; min-height:400px;}

div.wrapper a.download, div.wrapper a.download {display:block; position:relative; margin:10px auto; padding:10px; border-radius:10px; background:#236D26; font:18px sans-serif; font-weight:bold; width:150px; color:#F0F0F0; text-align:center; text-decoration:none;}
div.wrapper:hover a.download {text-decoration:none;}
div.wrapper a.download:hover, div.wrapper a.download:hover {color:#FFFFF0 !important;}
div.wrapper a.download span, div.wrapper a.download span {display:block; position:absolute; bottom:0px; left:0px; right:0px; text-align:center; font-size:8px; line-height:12px;}

div.padding {clear:both; height:30px;}

div.footer {position:absolute; bottom:0px; right:0px; text-align:right; font-size:8px; color:#0C0C0C;}
div.footer p {margin:0 10px 1px 0; padding:0; text-shadow:0px 0px 2px #FFFFFF;}
div.footer p a {color:#010100; text-decoration:none;}
div.footer p:hover a {font-style:italic;}
div.footer p a:hover {text-decoration:underline;}

.tiny {font-size:10px;}
.small {font-size:12px;}
.green {color:#236D26;}
.yellow {color:#F0F000;}
.bold {font-weight:bold;}
.centre {text-align:center !important;}
